.converter__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 30px;
  border-radius: 15px;
  background-color: var(--first-color);
  transition: all 1s ease;
}
.converter__wrapper {
  transition: transform 1s ease;
  transform: translateX(0%);
}
.history:has(.history__body_open) ~ .converter .converter__wrapper {
  transform: translateX(40%);
}

.converter__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 4px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}
.form__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  justify-content: space-between;
}
.form__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form__select {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid var(--border-inputs);
}
.form__input {
  width: 100%;
  padding: 12px 10px;
}

.converter__results {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}

@media (max-width: 1100px) {
  .converter__wrapper {
    transform: translateY(0%);
  }
  .history:has(.history__body_open) ~ .converter .converter__wrapper {
    transform: translateY(-20%);
  }
}

@media (max-height: 840px) {
  .converter__body {
    gap: 4px;
    padding: 4px 4px;
    border-radius: 15px;
    background-color: var(--first-color);
  }
  .form,
  .form__list,
  .form__item {
    gap: 4px;
  }
  .form__select {
    padding: 4px 2px;
  }
  .converter__results {
    padding: 4px 8px;
    gap: 4px;
  }
}
