.converter__body {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px 30px;
  border-radius: 15px;
  background-color: var(--first-color);
}
.converter__header {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 5px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
}
.form__list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  justify-content: space-between;
}
.form__item {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.form__select {
  width: 100%;
  padding: 12px 10px;
  border: 1px solid var(--border-inputs);
}
.form__input {
  width: 100%;
  padding: 12px 10px;
}

.converter__results {
  padding: 20px 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  gap: 10px;
}
