.wrapper {
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
  overflow: hidden;
}
.form__select:focus,
.form__input:focus {
  box-shadow: 0 0 0 2px var(--background-color);
  outline: none;
}

.button {
  padding: 1.2rem;
  border-radius: 10px;
}

.button:focus:not(:focus-visible) {
  outline: none;
}

/* text */
._text-extra-title {
  font-family: GoogleSans-Bold;
  font-size: clamp(1.6rem, 2vw, 2.6rem);
  font-weight: 800;
  color: var(--text-extra-title);
}
._text-extra-subtitle {
  font-family: GoogleSans-Regular;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-extra-title);
}
._text-title {
  font-family: GoogleSans-Regular;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-title);
}

._text-subtitle {
  font-family: GoogleSans-Regular;
  font-size: clamp(1.4rem, 16px, 1.8rem);
  font-weight: 600;
  color: var(--text-subtitle);
}
._text-button {
  font-family: Inter SemiBold;
  font-size: 16px;
  font-weight: 600;
  color: var(--text-button);
}
