:root {
  --background-color: #f5f8ff;
  --first-color: #ffffff;
  --secondary-color: #2962ff;
  --border-inputs: #dddddd;
  --button-shadow: #6a89df;
  --text-extra-title: #2962ff;
  --text-extra-subtitle: #666666;
  --text-title: #555555;
  --text-subtitle: #333333;
  --text-button: #ffffff;
}
