:root {
  color-scheme: light dark;

  --background-color: light-dark(#f5f8ff, #1b1b24);
  --first-color: light-dark(#ffffff, #2b242f);
  --secondary-color: light-dark(#2962ff, #3b5461);
  --border-inputs: light-dark(#dddddd, #2d2041);
  --button-shadow: light-dark(#6a89df, #1d2035);
  --text-extra-title: light-dark(#2962ff, #6466fb);
  --text-extra-subtitle: light-dark(#666666, #7eaac1);
  --text-title: light-dark(#555555, #576caa);
  --text-subtitle: light-dark(#333333, #aadee7);
  --text-button: light-dark(#ffffff, #9fcedb);
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}
