:root {
  color-scheme: light dark;

  --background-color: light-dark(hsl(210, 17%, 98%), hsl(240, 22%, 15%));
  --first-color: light-dark(hsl(0, 0%, 100%), hsl(240, 16%, 20%));
  --secondary-color: light-dark(hsl(240, 22%, 15%), hsl(240, 12%, 95%));
  --border-inputs: light-dark(hsl(220, 13%, 91%), hsl(240, 14%, 26%));
  --text-extra-title: light-dark(hsl(240, 22%, 15%), hsl(240, 12%, 95%));
  --text-title: light-dark(hsl(220, 9%, 46%), hsl(218, 11%, 65%));
  --text-subtitle: light-dark(hsl(240, 22%, 15%), hsl(240, 12%, 95%));
  --bg-button: light-dark(hsl(240, 22%, 15%), hsl(240, 12%, 95%));
  --text-button: light-dark(hsl(0, 0%, 100%), hsl(240, 16%, 20%));
  --border-button: light-dark(hsl(0, 0%, 87%), hsl(240, 16%, 20%));
}

[data-theme="light"] {
  color-scheme: light;
}

[data-theme="dark"] {
  color-scheme: dark;
}
